.video-edit-Nero{
  display: block;
  position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
  z-index: 2;
}

.HiddenNeroSecret{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
 overflow-y: scroll;
}

.Specialclose-Nero{
  background-color: transparent;
}

.Specialhead-popupNero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-right: 15px;
  
}
.CloseSecret{
  position: fixed;
  font-size: 50px;
  transform: rotate(180deg);
  animation: Arrow-move 1s  infinite;
  margin-top: 0px;
 
  top: 0px;
  
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("NeroHidden/yellow.gif");
  background-position: center
}

@keyframes Arrow-move {
  0% {
    margin-left: 15px;

  }

  50% {
    margin-left: 20px;
  }

  100% {
    margin-left: 15px;
  }
}

.Speciallogo-popup-Nero{
  margin-top: -15px;
  font-family: Permanent Marker;
  font-size: 65px;
  letter-spacing: 10px;
  color: rgb(121, 16, 16);
  animation: focus 3s alternate-reverse ease-in infinite;
  
}

@keyframes focus {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.05);
    color:red
  }
}

.shadowNero{
  letter-spacing: 0px;
  text-shadow: 0px 0px 0px transparent, 0 0 0.5em rgb(164, 167, 32), 0 0 0.2em transparent;
  animation: shadow 3s alternate-reverse ease-in infinite;

}

@keyframes shadow {
  0%{
    text-shadow: 0px 0px 0px transparent, 0 0 0.5em rgb(164, 167, 32), 0 0 0.2em transparent;

  }

  100%{
    text-shadow: 0px 0px 0px transparent, 0 0 20px rgb(32, 134, 11), 0 0 0.2em transparent;

  }
}

.O{
  letter-spacing: 30px;
}

.SpecialdateNero{
  font-family: Permanent Marker;
  font-size: 30px;
  margin-top: -30px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: url("NeroHidden/yellow.gif");
  background-position: bottom;
}

  
  .textNero{
    font-family: Permanent Marker;
    margin-top: 14px;
    font-size: 15px;
    background-clip:text ;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top, rgb(179, 255, 0), rgb(3, 167, 52));
  }

  .NeroBackgroundSound{
    position: fixed;
    bottom: -100px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(144, 133, 39,0.5);   
    height: 50px;
    border-radius: 20px 8px 0px 0px;
    width: 480px;
    
    background-image: linear-gradient(to top right, rgba(78, 146, 23, 0.6),rgba(1, 8, 0, 0.6)  );
    background-position:center;
    
    
    box-shadow: 0px 0px 15px 5px rgba(78, 146, 23, 0.6)
  }

  .NeroVolume progress::-webkit-progress-value{
    background-color: darkgreen;
}  

.NeroVolume input::-webkit-slider-thumb {
    background-color: darkgreen;
    border:1px solid darkgreen;
}
  .NeroVolumeValue{
    color: greenyellow;
    bottom: 15px;
    right: 70px;
  }
.AllDivNeroStory{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NeroStoryDiv{
  height: 100%;
  margin-top: 50px;
  margin-left: 130px;
  color: white;
  width: 20%;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 15px;
  box-shadow:  2px 5px 20px 8px  rgba(156, 43, 15, 0.507);
  background-color: rgba(54, 6, 6, 0.11);
  text-shadow: 0 0 10px rgba(227, 231, 9, 0.836);
  animation: div 5s alternate-reverse ease-in-out infinite;

}

.RightNero{
  margin-left: auto;
  margin-right: 50px;
  margin-top: 250px;
}






@keyframes div{
  0%{
    transform:  translateY(0);

  }
  100%{
    
    transform:  translateY(25px);
  }
}


.NeroStory{
  margin: 0px 10px 0px 10px;
  font-family: Itim, cursive;
  
}

.NeroDivTwo{
  margin-left: 50px;
  margin-top: 150px;
  animation-delay: -5s;
  width: 30%;
}

.NeroImage{
  width: 85%;
  margin: 0;
  filter: brightness(65%);
  
}

.NeroAndMaster{
  margin-right: 20px;
  height: 20vh;
  background-image: url(NeroHidden/Nero&Master.jpg);
  background-position: center;
  background-size:100%;
  background-repeat: no-repeat;
  
}

.NeroTitle{
  font-family: Permanent Marker;
  font-size: 20px;
  color: rgb(112, 11, 11);
}
.NeroTwo{
  margin-top: 10px;
  padding-bottom: 5px;
}